@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Header = "Matt Jones";
}

<body>
    <!--Image of something I love doing-->
    <img src="~/img/backflip-edited.png" />
    <!--Paragraph on what I hope to get out of this class-->
    <p class="intro">
        I am really excited for this IS 413 class. I am not the most skilled coder in the program by any means, but I enjoy
        it and am excited to expand my knowledge and abilities. By the end of the semester, I hope to feel confident in my
        abilities with ASP.NET. I also want to continue to develop my problem solving skills. I feel like coding pushes me more
        than anything when it comes to staying patient and calm while solving problems. I hope that through hard work and consistent
        effort, I will feel good about my performance this semester in IS 413.
    </p>

    <!--List of the top 3 jobs I am interested in pursuing upon graduation-->
    <p class="threejobs">Top 3 Jobs I Am Most Interested in Pursuing Upon Graduation</p>
    <ul class="joblist">
        <li>
            Project Manager
        </li>
        <li>
            Data Analyst
        </li>
        <li>
            Consultant
        </li>
    </ul>
</body>